In [1]:
import glob
import time
import pandas as pd
# from xml.dom import minidom
from nltk import ngrams
from nltk.tokenize import sent_tokenize
import nltk
nltk.download('punkt')
nltk.download('stopwords')
nltk.download('wordnet')
from nltk.stem import PorterStemmer
from nltk.stem import PorterStemmer
from nltk.tokenize import sent_tokenize, word_tokenize
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords 
from nltk.tokenize import word_tokenize

[nltk_data] Downloading package punkt to /home/ebryx/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to /home/ebryx/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to /home/ebryx/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [2]:
from tensorflow import keras

In [3]:
import pandas as pd
import os

In [4]:
def clean_sqli_data(data):
    
    for i in range(len(data)):
        
        data[i]=data[i].replace('\n', '')
        data[i]=data[i].replace('%20', ' ')
        data[i]=data[i].replace('=', ' = ')
        data[i]=data[i].replace('((', ' (( ')
        data[i]=data[i].replace('))', ' )) ')
        data[i]=data[i].replace('(', ' ( ')
        data[i]=data[i].replace(')', ' ) ')
    
    return data

In [5]:
path='../data/git_foospidy_payloads_fuzzing_code_db_sqli.txt'

In [6]:
sql_lines_fuzzing=[]
f = open(path, "r")
for x in f:
    sql_lines_fuzzing.append(x)

In [7]:
sql_lines_fuzzing=clean_sqli_data(sql_lines_fuzzing)

In [8]:
sql_lines_fuzzing[:15]

["'sqlvuln",
 "'+sqlvuln",
 'sqlvuln;',
 ' ( sqlvuln ) ',
 "a' or 1 = 1--",
 '"a"" or 1 = 1--"',
 ' or a  =  a',
 "a' or 'a'  =  'a",
 '1 or 1 = 1',
 "a' waitfor delay '0:0:10'--",
 "1 waitfor delay '0:0:10'--",
 'declare @q nvarchar  ( 4000 )  select @q  = ',
 '0x770061006900740066006F0072002000640065006C00610079002000270030003A0030003A',
 '0',
 '031003000270000']

In [9]:
path='../data/git_foospidy_payloads_other_sqli_camoufl4g3.txt'

In [10]:


# read data from file

sql_lines_camoufl4g3=[]
f = open(path, "r")
for x in f:
    sql_lines_camoufl4g3.append(x)

In [11]:
sql_lines_camoufl4g3[:15] # data before cleaning

["'-'\n",
 "' '\n",
 "'&'\n",
 "'^'\n",
 "'*'\n",
 "' or ''-'\n",
 "' or '' '\n",
 "' or ''&'\n",
 "' or ''^'\n",
 "' or ''*'\n",
 '"-"\n',
 '" "\n',
 '"&"\n',
 '"^"\n',
 '"*"\n']

In [12]:
sql_lines_camoufl4g3=clean_sqli_data(sql_lines_camoufl4g3)

In [13]:
sql_lines_camoufl4g3[:15]  # data after cleaning

["'-'",
 "' '",
 "'&'",
 "'^'",
 "'*'",
 "' or ''-'",
 "' or '' '",
 "' or ''&'",
 "' or ''^'",
 "' or ''*'",
 '"-"',
 '" "',
 '"&"',
 '"^"',
 '"*"']

In [14]:
path='../data/git_foospidy_payloads_other_sqli_libinjection-bypasses.txt'

In [15]:
# read data from file

sql_lines_bypasses=[]
f = open(path, "r")
for x in f:
    sql_lines_bypasses.append(x)

In [16]:
sql_lines_bypasses[:5] # before cleaning

['&()o1: select * from users where id=1 or (\\)=1 union select 1,@@VERSION -- 1\n',
 '&(.)o: select * from users where id=1 or (\\.)=1 union select 1,@@VERSION -- 1\n',
 '&(1&1: select * from users where id=1 or (\\+)=1 or 1=1 -- 1\n',
 '&(1)o: select * from users where id=1 or (1)=1 union select 1,banner from v$version where rownum=1 -- 1\n',
 '&(1UE: select * from users where id=1 or (\\+)=1 union select 1,@@VERSION -- 1\n']

In [17]:
print(len(sql_lines_bypasses))

475

In [18]:
sql_lines_bypasses=clean_sqli_data(sql_lines_bypasses)

In [19]:
sql_lines_bypasses[:5]  # data after cleaning

['& (  ) o1: select * from users where id = 1 or  ( \\ )  = 1 union select 1,@@VERSION -- 1',
 '& ( . ) o: select * from users where id = 1 or  ( \\. )  = 1 union select 1,@@VERSION -- 1',
 '& ( 1&1: select * from users where id = 1 or  ( \\+ )  = 1 or 1 = 1 -- 1',
 '& ( 1 ) o: select * from users where id = 1 or  ( 1 )  = 1 union select 1,banner from v$version where rownum = 1 -- 1',
 '& ( 1UE: select * from users where id = 1 or  ( \\+ )  = 1 union select 1,@@VERSION -- 1']

In [20]:
# if don't want &(*)* sign in beginning of each sentence then run next code else don't

for i in range(len(sql_lines_bypasses)):
    sentence=sql_lines_bypasses[i]
    try :
        sql_lines_bypasses[i]=sentence.split(':')[1]
    except:
        pass

In [21]:
sql_lines_bypasses[:5]

[' select * from users where id = 1 or  ( \\ )  = 1 union select 1,@@VERSION -- 1',
 ' select * from users where id = 1 or  ( \\. )  = 1 union select 1,@@VERSION -- 1',
 ' select * from users where id = 1 or  ( \\+ )  = 1 or 1 = 1 -- 1',
 ' select * from users where id = 1 or  ( 1 )  = 1 union select 1,banner from v$version where rownum = 1 -- 1',
 ' select * from users where id = 1 or  ( \\+ )  = 1 union select 1,@@VERSION -- 1']

In [22]:
path='../data/git_foospidy_payloads_owasp_jbrofuzz_sqli.txt'

In [23]:
# read data from file

sql_lines_owasp=[]
f = open(path, "r")
for x in f:
    sql_lines_owasp.append(x)

In [24]:
sql_lines_owasp[0:15] # before cleaning

['a\n',
 "a' \n",
 "a' --\n",
 "a' or 1=1; --\n",
 '@\n',
 '?\n',
 "' and 1=0) union all\n",
 '? or 1=1 --\n',
 "x' and userid is NULL; --\n",
 "x' and email is NULL; --\n",
 "anything' or 'x'='x\n",
 "x' and 1=(select count(*) from tabname); --\n",
 "x' and members.email is NULL; --\n",
 "x' or full_name like '%bob%\n",
 '23 or 1=1; --\n']

In [25]:
print(len(sql_lines_owasp))

167

In [26]:
sql_lines_owasp=clean_sqli_data(sql_lines_owasp)

In [27]:
sql_lines_owasp[:15] # after cleaning

['a',
 "a' ",
 "a' --",
 "a' or 1 = 1; --",
 '@',
 '?',
 "' and 1 = 0 )  union all",
 '? or 1 = 1 --',
 "x' and userid is NULL; --",
 "x' and email is NULL; --",
 "anything' or 'x' = 'x",
 "x' and 1 =  ( select count ( * )  from tabname ) ; --",
 "x' and members.email is NULL; --",
 "x' or full_name like '%bob%",
 '23 or 1 = 1; --']

In [28]:
path='../data/git_seclist_fuzzing_sqli_Generic-SQLi.txt'

In [29]:
# read data from file

sql_lines_Generic=[]
f = open(path, "r")
for x in f:
    sql_lines_Generic.append(x)

In [30]:
sql_lines_Generic[:15] # before cleaning

[")%20or%20('x'='x\n",
 '%20or%201=1\n',
 "; execute immediate 'sel' || 'ect us' || 'er'\n",
 'benchmark(10000000,MD5(1))#\n',
 'update\n',
 '";waitfor delay \'0:0:__TIME__\'--\n',
 '1) or pg_sleep(__TIME__)--\n',
 '||(elt(-3+5,bin(15),ord(10),hex(char(45))))\n',
 '"hi"") or (""a""=""a"\n',
 'delete\n',
 'like\n',
 '" or sleep(__TIME__)#\n',
 'pg_sleep(__TIME__)--\n',
 '*(|(objectclass=*))\n',
 'declare @q nvarchar (200) 0x730065006c00650063 ...\n']

In [31]:
print(len(sql_lines_Generic))

268

In [32]:
sql_lines_Generic=clean_sqli_data(sql_lines_Generic)

In [33]:
sql_lines_Generic[:15] # after cleaning

[" )  or  ( 'x' = 'x",
 ' or 1 = 1',
 "; execute immediate 'sel' || 'ect us' || 'er'",
 'benchmark ( 10000000,MD5 ( 1  )  )  #',
 'update',
 '";waitfor delay \'0:0:__TIME__\'--',
 '1 )  or pg_sleep ( __TIME__ ) --',
 '|| ( elt ( -3+5,bin ( 15 ) ,ord ( 10 ) ,hex ( char ( 45  )  )    )  )  ',
 '"hi"" )  or  ( ""a"" = ""a"',
 'delete',
 'like',
 '" or sleep ( __TIME__ ) #',
 'pg_sleep ( __TIME__ ) --',
 '* ( | ( objectclass = *  )  )  ',
 'declare @q nvarchar  ( 200 )  0x730065006c00650063 ...']

### Plain

In [34]:


# function to remove stopwords

stop_words = set(stopwords.words('english')) 

def fun_remove_stop_words(posts):

    filtered=''
    
    for x in posts.split(' '):
        if x not in stop_words:
            filtered+=' '+x
    
    return filtered

In [35]:
path='../data/'
file="scottparker_ml_sqli_src__trainingdata_plain.txt"

In [36]:
df = pd.read_csv(os.path.join(path,file), sep='Aw3s0meSc0t7', names=['benign'], header=None, engine='python')

In [37]:
df.head()

                                         benign
0                           Add plain text here
1                    “Ne te quaesiveris extra.”
2   “Man is his own star; and the soul that can
3           Render an honest and a perfect man,
4  Commands all light, all influence, all fate;

In [38]:
plain_text=df['benign'].values  # get sentences

In [39]:
plain_text[:5]

array(['Add plain text here', '“Ne te quaesiveris extra.”',
       '“Man is his own star; and the soul that can',
       'Render an honest and a perfect man,',
       'Commands all light, all influence, all fate;'], dtype=object)

In [40]:
plain_text=plain_text[:-22] # removed last 22 records that were urls

In [41]:
len(plain_text)

3672

In [42]:

data=''
for x in plain_text:
    data+=" " + x

In [43]:
type(data)

str

In [44]:
data=fun_remove_stop_words(data)  # remove stop words
data=data.split('.')

In [45]:
for i in range(len(data)):
    data[i]=data[i].replace('<', ' <')
    data[i]=data[i].replace('>', '> ')
    data[i]=data[i].replace('=', ' = ')

In [46]:
data[:5]

['  Add plain text “Ne te quaesiveris extra',
 '” “Man star; soul Render honest perfect man, Commands light, influence, fate; Nothing falls early late',
 ' Our acts angels are, good ill, Our fatal shadows walk us still',
 '” Epilogue Beaumont Fletcher’s Honest Man’s Fortune Cast bantling rocks, Suckle she-wolf’s teat; Wintered hawk fox, Power speed hands feet',
 ' I read day verses written eminent painter original conventional']

In [47]:
print("Benign records: %2i" %len(data))

Benign records: 3072

In [48]:


all_sqli_sentence=sql_lines_owasp+sql_lines_bypasses+sql_lines_camoufl4g3+sql_lines_fuzzing+sql_lines_Generic

In [49]:
len(all_sqli_sentence)

1129

In [50]:
# replace numeric values by a keyword 'numeric'
def optional_numeric_to_numeric(all_sqli_sentence):
    
    for i in range(len(all_sqli_sentence)):
        

        all_sqli_sentence[i]=all_sqli_sentence[i].replace('1 ', 'numeric')
        all_sqli_sentence[i]=all_sqli_sentence[i].replace(' 1', 'numeric')
        all_sqli_sentence[i]=all_sqli_sentence[i].replace("'1 ", "'numeric ")
        all_sqli_sentence[i]=all_sqli_sentence[i].replace(" 1'", " numeric'")
        all_sqli_sentence[i]=all_sqli_sentence[i].replace('1,', 'numeric,')
        all_sqli_sentence[i]=all_sqli_sentence[i].replace("1\ ", 'numeric')
        all_sqli_sentence[i]=all_sqli_sentence[i].replace("‘1", '‘numeric')
        all_sqli_sentence[i]=all_sqli_sentence[i].replace(" 2 ", " numeric ")
        all_sqli_sentence[i]=all_sqli_sentence[i].replace(' 3 ', ' numeric ')
        all_sqli_sentence[i]=all_sqli_sentence[i].replace(' 3--', ' numeric--')
        all_sqli_sentence[i]=all_sqli_sentence[i].replace(" 4 ", ' numeric ')
        all_sqli_sentence[i]=all_sqli_sentence[i].replace(" 5 ", ' numeric ')
        all_sqli_sentence[i]=all_sqli_sentence[i].replace(' 6 ', ' numeric ')
        all_sqli_sentence[i]=all_sqli_sentence[i].replace(" 7 ", ' numeric ')
        all_sqli_sentence[i]=all_sqli_sentence[i].replace(" 8 ", ' numeric ')
        all_sqli_sentence[i]=all_sqli_sentence[i].replace('1234', ' numeric ')
        all_sqli_sentence[i]=all_sqli_sentence[i].replace("22", ' numeric ')
        all_sqli_sentence[i]=all_sqli_sentence[i].replace(" 8 ", ' numeric ')
        all_sqli_sentence[i]=all_sqli_sentence[i].replace(" 200 ", ' numeric ')
        all_sqli_sentence[i]=all_sqli_sentence[i].replace("23 ", ' numeric ')
        all_sqli_sentence[i]=all_sqli_sentence[i].replace('"1', '"numeric')
        all_sqli_sentence[i]=all_sqli_sentence[i].replace('1"', '"numeric')
        all_sqli_sentence[i]=all_sqli_sentence[i].replace("7659", 'numeric')
        all_sqli_sentence[i]=all_sqli_sentence[i].replace(" 37 ", ' numeric ')
        all_sqli_sentence[i]=all_sqli_sentence[i].replace(" 45 ", ' numeric ')
    
    return all_sqli_sentence

In [51]:
import pandas as pd

In [52]:
len(all_sqli_sentence)

1129

In [53]:
all_sqli_sentence = set(all_sqli_sentence)

In [54]:
len(all_sqli_sentence)

951

In [55]:

values=[]
for i in all_sqli_sentence:
    values.append((i,1))

In [56]:
len(data)

3072

In [57]:
data = set(data)

In [58]:
len(data)

3001

In [59]:

for i in data:
    values.append((i,0))

In [60]:
len(all_sqli_sentence)+len(data)

3952

#### Total 3952
#### Next add more data

In [61]:
#SQLI

path='../data/git_seclist_fuzzing_sqli_generic_blind_sqli_fuzzdb.txt'

In [62]:
sql_blind_fuzzdb=[]
f = open(path, "r")
for x in f:
    sql_blind_fuzzdb.append(x)

In [63]:
sql_blind_fuzzdb=clean_sqli_data(sql_blind_fuzzdb)

In [64]:
sql_blind_fuzzdb = set(sql_blind_fuzzdb)

In [65]:
len(sql_blind_fuzzdb)

43

In [66]:

for i in sql_blind_fuzzdb:
    values.append((i,1))

In [67]:
len(values)

3995

#### read full csv

In [68]:
df_full = pd.read_csv('../data/payload_full.csv')

In [69]:
df_full.head()

            payload  length attack_type label
0    c/ caridad s/n      14        norm  norm
1      campello, el      12        norm  norm
2             40184       5        norm  norm
3  1442431887503330      16        norm  norm
4             nue37       5        norm  norm

In [70]:
df_full.groupby('attack_type').first()

,payload,length,label
attack_type,,,
cmdi,"+|+dir+c:"",10,cmdi,anom $+|+dir+c:""",35,anom
norm,c/ caridad s/n,14,norm
path-traversal,/../../../../../../../../../../../../etc/passwd,47,anom
sqli,1' where 6406=6406;select count(*) from rdb$fi...,115,anom
xss,confirm(2)>/,12,anom

In [71]:
additional_sqli = df_full[df_full['attack_type']=='sqli']

In [72]:
len(additional_sqli)

10852

In [73]:
additional_sqli.head()

,payload,length,attack_type,label
436,1' where 6406=6406;select count(*) from rdb$fi...,115,sqli,anom
437,1) and 8514=(select count(*) from domain.domai...,111,sqli,anom
438,-3136%') or 3400=6002,21,sqli,anom
439,1) where 7956=7956 or sleep(5)#,31,sqli,anom
440,-7387'))) order by 1--,22,sqli,anom

In [74]:
additional_sqli = additional_sqli['payload'].values

In [75]:
type(additional_sqli)

numpy.ndarray

In [76]:
additional_sqli=clean_sqli_data(additional_sqli)

In [77]:
sqli_aditional_data = []
for x in additional_sqli:
    separate = x.split(';')
    for i in separate:
        sqli_aditional_data.append(i)

In [78]:
len(sqli_aditional_data)

13405

In [79]:
sqli_aditional_data[:10]

["1' where 6406 = 6406",
 'select count ( * )  from rdb$fields as t1,rdb$types as t2,rdb$collations as t3,rdb$functions as t4--',
 '1 )  and 8514 =  ( select count ( * )  from domain.domains as t1,domain.columns as t2,domain.tables as t3 )  and  ( 4666 = 4666',
 "-3136%' )  or 3400 = 6002",
 '1 )  where 7956 = 7956 or sleep ( 5 ) #',
 "-7387'  )  )   )  order by 1--",
 "1'  )  )   as gfzb where 7904 = 7904",
 'begin dbms_lock.sleep ( 5 ) ',
 ' end--',
 '1  )  )   )  union all select null,null,null#']

In [80]:
sqli_aditional_data = set(sqli_aditional_data)

In [81]:
len(sqli_aditional_data)

10462

In [82]:

for i in sqli_aditional_data:
    values.append((i,1))

In [83]:
len(values)

14457

#### Add benign data

In [84]:
additional_benign = df_full[df_full['attack_type']=='norm']

In [85]:
len(additional_benign)

19304

In [86]:
additional_benign = additional_benign['payload'].values

In [87]:
additional_benign[:10]

array(['c/ caridad s/n', 'campello, el', '40184', '1442431887503330',
       'nue37', 'nuda drudes', 'tufts3@joll.rs', '22997112x',
       'c/ del ferrocarril, 152,', 'arenas de san juan'], dtype=object)

In [88]:
for i in range(len(additional_benign)):
    additional_benign[i]=additional_benign[i].replace('<', ' <')
    additional_benign[i]=additional_benign[i].replace('>', '> ')
    additional_benign[i]=additional_benign[i].replace('=', ' = ')

In [89]:
additional_benign = set(additional_benign)

In [90]:
len(additional_benign)

19304

In [91]:

for i in additional_benign:
    values.append((i,0))

In [92]:
len(values)

33761

In [93]:
type(values)

list

In [94]:
df=pd.DataFrame(values,columns=['Sentence','Label'])

In [95]:
df.head()

                                            Sentence  Label
0                                                         1
1                      " or pg_sleep ( __TIME__ ) --      1
2  create user name identified by pass123 tempora...      1
3                                                %29      1
4  ' AND 1 = utl_inaddr.get_host_address  (  (  S...      1

In [96]:
df.tail()

               Sentence  Label
33756            syrett      0
33757  arrechea bellveh      0
33758              1664      0
33759          almaluez      0
33760         f6lo40r06      0

In [97]:
df.to_csv('../data/sqli.csv', index=False, encoding='utf-16')

In [98]:
df=pd.read_csv('../data/sqli.csv',encoding='utf-16')

In [99]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33761 entries, 0 to 33760
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Sentence  33757 non-null  object
 1   Label     33761 non-null  int64
dtypes: int64(1), object(1)
memory usage: 527.6+ KB

In [101]:
df.head()

                                            Sentence  Label
0                                                NaN      1
1                      " or pg_sleep ( __TIME__ ) --      1
2  create user name identified by pass123 tempora...      1
3                                                %29      1
4  ' AND 1 = utl_inaddr.get_host_address  (  (  S...      1

In [102]:
df.dropna(inplace=True)

In [103]:
df.head()

                                            Sentence  Label
1                      " or pg_sleep ( __TIME__ ) --      1
2  create user name identified by pass123 tempora...      1
3                                                %29      1
4  ' AND 1 = utl_inaddr.get_host_address  (  (  S...      1
5   select * from users where id = '1' or @ @1 = ...      1

In [104]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33757 entries, 1 to 33760
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Sentence  33757 non-null  object
 1   Label     33757 non-null  int64
dtypes: int64(1), object(1)
memory usage: 791.2+ KB

In [155]:
new_values = []
for i in range(len(values)):
    value = values[i][0]
    label = values[i][1]
    if value == '' or len(value)<1 or value == ' ':
        pass
    else:
        new_values.append((value, label))

In [156]:
len(values)

33757

In [157]:
len(new_values)

33757

In [158]:
values = new_values

In [159]:
from tensorflow.keras.preprocessing.text import Tokenizer

In [160]:
sentences = []
for key , value in enumerate(values[:][:][:][:][:]):
    sentences.append((value[0]))

In [161]:
labels = []
for key , value in enumerate(values[:][:][:][:][:]):
    labels.append((value[1]))

In [162]:
labels[:10]

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [163]:
sentences[:10]

['" or pg_sleep ( __TIME__ ) --',
 'create user name identified by pass123 temporary tablespace temp default tablespace users; ',
 '%29',
 "' AND 1 = utl_inaddr.get_host_address  (  (  SELECT DISTINCT ( table_name )  FROM  ( SELECT DISTINCT ( table_name ) , ROWNUM AS LIMIT FROM sys.all_tables )  WHERE LIMIT = 5  )  )   AND 'i' = 'i",
 " select * from users where id = '1' or @ @1 = 1 union select 1,version (  )  -- 1'",
 ' select * from users where id = 1 or 1#" (  union select 1,version (  )  -- 1',
 "' select name from syscolumns where id  =   ( select id from sysobjects where name  =  tablename' ) --",
 ' select * from users where id = 1 +$+ or 1 = 1 -- 1',
 '1; ( load_file ( char ( 47,101,116,99,47,112,97,115,115,119,100  )  )   ) ,1,1,1;',
 " select * from users where id = '1' or ||/1 = 1 union select 1,version (  )  -- 1'"]

In [164]:
oov_tok = "<OOV>"


from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences

tokenizer = Tokenizer(oov_token=oov_tok, lower=False,split=' ')

# tokenizer = Tokenizer()
tokenizer.fit_on_texts(sentences)

In [166]:
total_words = len(tokenizer.word_index) + 1

In [167]:
total_words

43941

In [168]:
import numpy as np

In [172]:
input_sequences = []
for line in sentences:
    token_list = tokenizer.texts_to_sequences([line])[0]
    for i in range(1, len(token_list)):
        n_gram_sequence = token_list[:i+1]
    input_sequences.append(n_gram_sequence)

In [173]:
len(sentences)

33757

In [174]:
len(input_sequences)

33757

In [175]:
from tensorflow.keras.preprocessing.sequence import pad_sequences

In [176]:
max_sequence_len = max([len(x) for x in input_sequences])
input_sequences = np.array(pad_sequences(input_sequences, maxlen=max_sequence_len, padding='pre'))

In [187]:
from tensorflow.keras.preprocessing.sequence import pad_sequences
from tensorflow.keras.layers import Embedding, LSTM, Dense, Dropout, Bidirectional
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.models import Sequential
from tensorflow.keras.optimizers import Adam
### YOUR CODE HERE
from tensorflow.keras import regularizers

In [188]:
model = Sequential()
model.add(Embedding(total_words, 100, input_length=max_sequence_len)) # Your Embedding Layer)
model.add(Bidirectional(LSTM(150, return_sequences=True)))# An LSTM Layer)
# model.add(Dropout(0.2)) # A dropout layer)
model.add(LSTM(100))# Another LSTM Layer)
model.add(Dense(512, activation='relu', kernel_regularizer=regularizers.l2(0.01)))# A Dense Layer including regularizers)
model.add(Dense(1,activation='sigmoid'))# A Dense Layer)
# Pick an optimizer
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])# Pick a loss function and an optimizer)
print(model.summary())

Model: "sequential_5"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding_5 (Embedding)      (None, 544, 100)          4394100
_________________________________________________________________
bidirectional_5 (Bidirection (None, 544, 300)          301200
_________________________________________________________________
lstm_11 (LSTM)               (None, 100)               160400
_________________________________________________________________
dense_10 (Dense)             (None, 512)               51712
_________________________________________________________________
dense_11 (Dense)             (None, 1)                 513
=================================================================
Total params: 4,907,925
Trainable params: 4,907,925
Non-trainable params: 0
_________________________________________________________________
None

In [189]:
input_sequences = np.array(input_sequences,dtype='float64')
labels = np.array(labels, dtype ='float64')

In [ ]:
history = model.fit(input_sequences, labels, epochs=10, verbose=1, batch_size=32)

Train on 33757 samples
Epoch 1/10
 6656/33757 [====>.........................] - ETA: 39:46 - loss: 0.3903 - accuracy: 0.9549